* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.field {
  position: relative;
  margin: 0 auto;
  height: 630px;
  width: 980px;
  background-image: url(/images/field.png);
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0 17px 0 3px;
  position: absolute;
  bottom: 18px;
  width: 100%;
}

.friends {
  width: 536px;
  height: 63px;
  background-image: url(/images/friendsbar.png);
  padding: 0 11px 0 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button:active, button:disabled {
  filter: brightness(90%);
  transform: translate(0px, 2px);
  cursor: default;
}

.chat {
  width: 65px;
  height: 60px;
  background-image: url(/images/chat.png);
  margin-left: 3px;
}

.unibutton {
  width: 202px;
  height: 63px;
  background-image: url(/images/unibutton.png);
  margin-left: 8px;
}

.messages {
  width: 64px;
  height: 60px;
  background-image: url(/images/messages.png);
  margin-left: 9px;
}

.leaderboardbutton {
  width: 66px;
  height: 61px;
  background-image: url(/images/leaderboard.png);
  margin-left: 6px;
}

.player {
  width: 20px;
  height: 68px;
  background-image: url(/images/player.png);
  position: absolute;
  bottom: 123px;
  left: 434px;
  transition: bottom 1s ease, left 1s ease, transform 0.2s ease;
}

.moving {
  transform: translate(0px, -10px) scale(110%);
}

.arrowLeft {
  width: 14px;
  height: 27px;
  background-image: url(/images/arrowleft.png);
}

.arrowRight {
  width: 14px;
  height: 27px;
  background-image: url(/images/arrowright.png);
}

.friendListWrapper {
  width: 474px;
  overflow-x: hidden;
}

.friendList {
  height: 56px;
  width: 474px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
  transition: transform 0.5s ease;
}

.friend {
  width: 50px;
  height: 51px;
  background-image: url(/images/friendnoavatar.png);
}

.friendAvatar {
  width: 50px;
  height: 51px;
  background-image: url(/images/friendavatar.png);
}

.addFriendButton {
  position: relative;
}

.plusIcon {
  width: 23px;
  height: 22px;
  background-image: url(/images/plusicon.png);
  position: absolute;
  bottom: 32px;
  left: 33px;
  z-index: 1;
}