* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.field {
  position: relative;
  margin: 0 auto;
  height: 630px;
  width: 980px;
  background-image: url(/images/field.png);
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0 17px 0 3px;
  position: absolute;
  bottom: 18px;
  width: 100%;
}

.friends {
  width: 536px;
  height: 63px;
  background-image: url(/images/friendsbar.png);
  padding: 0 11px 0 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button:active, button:disabled {
  filter: brightness(90%);
  transform: translate(0px, 2px);
  cursor: default;
}

.chat {
  width: 65px;
  height: 60px;
  background-image: url(/images/chat.png);
  margin-left: 3px;
}

.unibutton {
  width: 202px;
  height: 63px;
  background-image: url(/images/unibutton.png);
  margin-left: 8px;
}

.messages {
  width: 64px;
  height: 60px;
  background-image: url(/images/messages.png);
  margin-left: 9px;
}

.leaderboardButton {
  width: 66px;
  height: 61px;
  background-image: url(/images/leaderboard.png);
  margin-left: 6px;
}

.player {
  width: 20px;
  height: 68px;
  background-image: url(/images/player.png);
  position: absolute;
  bottom: 123px;
  left: 434px;
  transition: bottom 1s ease, left 1s ease, transform 0.2s ease;
}

.moving {
  transform: translate(0px, -10px) scale(110%);
}

.arrowLeft {
  width: 14px;
  height: 27px;
  background-image: url(/images/arrowleft.png);
}

.arrowRight {
  width: 14px;
  height: 27px;
  background-image: url(/images/arrowright.png);
}

.friendListWrapper {
  width: 474px;
  overflow-x: hidden;
}

.friendList {
  height: 56px;
  width: min-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  transition: transform 0.5s ease;
}

.friend {
  width: 50px;
  height: 51px;
  background-image: url(/images/friendnoavatar.png);
}

.friendAvatar {
  width: 50px;
  height: 51px;
  background-image: url(/images/friendavatar.png);
}

.addFriendButton {
  position: relative;
}

.plusIcon {
  width: 23px;
  height: 22px;
  background-image: url(/images/plusicon.png);
  position: absolute;
  bottom: 32px;
  left: 33px;
  z-index: 1;
}

.arrowLeft:disabled, .arrowRight:disabled {
  transform: none;
}

dialog {
  border: none;
  background-color: transparent;
  position: absolute;
  top: -500px;
  margin: 0 auto;
  background-image: url(/images/modalbackground.png);
  width: 522px;
  height: 455px;
  overflow: visible;
  transition: top 0.5s ease;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: white;
}

.open {
  top: 82px;
}

dialog::backdrop {
  background-color: #d1c6b7;
  opacity: 0%;
  transition: opacity 0.5s ease;
}

.open::backdrop {
  opacity: 52%;
}

.crossButton {
  height: 26px;
  width: 26px;
  background-image: url(/images/crossicon.png);
  position: absolute;
  top: 14px;
  right: 17px;
}

.modalHeader {
  height: 33px;
  width: 264px;
  background-image: url(/images/modalheader.png);
  position: absolute;
  top: -11px;
  left: 126px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding-bottom: 3px;
}

.modalContent {
  width: 464px;
  height: 324px;
  background-image: url(/images/modalcontentbackground.png);
  position: absolute;
  left: 29px;
  bottom: 37px;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entriesWrapper {
  height: 231px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  font-size: 0.9em;
  padding-bottom: 6px;
}

.entriesWrapper::-webkit-scrollbar {
  display: none;
}

.leaderboardHeader {
  width: 403px;
  height: 29px;
  background-image: url(/images/leaderboardheader.png);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 16px;
  font-size: 0.9em;
  padding-top: 1px;
  font-weight: 400;
  margin-bottom: 6px;
  flex-shrink: 0;
}

.placeHeader {
  width: 83px;
}

.name {
  width: 228px;
}

.leaderboardEntry {
  width: 403px;
  height: 27px;
  background-image: url(/images/scoreentry.png);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.place {
  width: 66px;
  padding-left: 12px;
  text-align: center;
}

.leaderboardAvatar {
  width: 30px;
  height: 29px;
  margin-right: 5px;
}

.friendName {
  color: #FC0;
  text-shadow: #FC0 1px 0 5px;
}





